<div class = "container" style = "padding-top:20px; text-align:center">
<h1>Add New Doc</h1>


<% if !@doc.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @doc.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div class = "well">
   <%= form_for @doc, html: { multipart: true } do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.label :tag1 %>
      <%= f.text_field :tag1 %>
      <%= f.label :tag2 %>
      <%= f.text_field :tag2 %>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
      <%= f.submit "Upload", class: "btn btn-primary" %>
   <% end %>
</div>
</div>